body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  margin: 3%;
}

.block {
  display: flex;
  flex-flow: wrap row;
  margin: 2%;
}

.message {
  margin: 3%;
  background-color: #7dd3f2;
  font-size: 1.25em;
}

.blockies {
  font-size: 1.1em;
  margin: 1%
}

.username {
  display: flex;
  flex-flow: wrap row;
  margin-bottom: 3%;
}

#logo {
  font-size: 1.6em;
  color: #f44242;
}
